@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --card-yellow: #f4d04e;
  --card-gray-950: #111111;
  --card-gray-500: #6b6b6b;
  --card-white: #fff;
}

body {
  font-family: "Figtree", sans-serif;
  line-height: 150%;
  letter-spacing: 0;
}

.card-bg-yellow {
  background-color: var(--card-yellow);
}

.card-text-yellow {
  color: var(--card-yellow);
}

.card-text-gray-950 {
  color: var(--card-gray-950);
}

.card-text-gray-500 {
  color: var(--card-gray-500);
}

.card-text-white {
  color: var(--card-white);
}

.card-text-md {
  font-size: 1.5rem;
}

.card-text-sm {
  font-size: 1rem;
}

.card-text-xs {
  font-size: 0.875rem;
}

.card-space-300 {
  margin-top: 24px;
}

.card-space-150 {
  margin-top: 12px;
}

.card-space-100 {
  margin-top: 8px;
}
.card-space-50 {
  margin-top: 4px;
}
