@import "tailwindcss";

@layer components {
  .newsletter-bg-blue-800 {
    background-color: var(--newsletter-blue-800);
  }

  .newsletter-bg-blue-700 {
    background-color: var(--newsletter-blue-700);
  }

  .newsletter-text-grey {
    color: var(--newsletter-grey);
  }

  .newsletter-text-red {
    color: var(--newsletter-red);
  }

  .newsletter-btn-gradient {
    background: var(--newsletter-gradient);
  }

  .newsletter-shadow {
    box-shadow: 0px 16px 32px 0 rgba(255, 97, 85, 0.5);
  }

  .newsletter-text-preset-1 {
    @apply text-4xl;
    @apply font-bold;
  }

  .newsletter-text-preset-2-bold {
    @apply text-base;
    @apply font-bold;
  }

  .newsletter-text-preset-2-regular {
    @apply text-base;
    @apply font-normal;
  }

  .newsletter-text-preset-3 {
    @apply text-xs;
    @apply font-bold;
  }
}
