@import "tailwindcss";

@layer components {
  .newsletter-bg-blue-800 {
    background-color: var(--newsletter-blue-800);
  }

  .newsletter-bg-blue-700 {
    background-color: var(--newsletter-blue-700);
  }

  .newsletter-text-grey {
    color: var(--newsletter-grey);
  }

  .newsletter-text-800 {
    color: var(--newsletter-blue-800);
  }

  .newsletter-text-red {
    color: var(--newsletter-red);
  }

  .newsletter-btn-gradient {
    background: var(--newsletter-gradient);
  }

  .newsletter-sign-up-wrapper {
    color: var(--newsletter-blue-800);
  }

  .newsletter-text-preset-1 {
    @apply text-[40px];
    @apply font-bold;
    @apply leading-none;
  }

  .newsletter-text-preset-2-bold {
    @apply text-base;
    @apply font-bold;
  }

  .newsletter-text-preset-2-regular {
    @apply text-base;
    @apply font-normal;
  }

  .newsletter-text-preset-3 {
    @apply text-xs;
    @apply font-bold;
  }

  @media (min-width: 768px) {
    .newsletter-text-preset-1 {
      @apply text-[56px];
    }

    .newsletter-sign-up-wrapper {
      @apply p-10;
      @apply rounded-4xl;
    }
  }

  @media (min-width: 1024px) {
    .newsletter-sign-up-wrapper {
      @apply p-8;
    }
  }
}
