@import "tailwindcss";

:root {
  --font-figtree: "Figtree", sans-serif;

  /* Blog view card*/
  --card-yellow: #f4d04e;
  --card-gray-950: #111111;
  --card-gray-500: #6b6b6b;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .figtree {
    font-family: var(--font-figtree);
  }
}
